* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outside-container {
  background-image: linear-gradient(to bottom right, rgb(213, 213, 252), white);
  height: 710px;
  width: 100%;
  padding-top: 120px;
}

.calculator {
  height: 400px;
  width: 300px;
  background-color: aliceblue;
  margin: auto;
  border: 3px solid skyblue;
}

.inner-container {
  padding: 10px;
  background-color: aliceblue;
}

.output {
  border: 2px solid rgb(12, 171, 234);
  background-color: white;
  height: 40px;
  width: 230px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

button {
  height: 40px;
  width: 40px;
  background-color: rgb(215, 249, 249);
  color: rgb(0, 161, 224);
  border: none;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.hidden {
  display: none;
}
